@font-face {
  font-family: "Continuum Medium Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Continuum Medium"),
    url("contm.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Continuum Medium Regular", sans-serif;
  cursor: default;
  user-select: none;
}

.spacematic {
  display: flex;
  animation: fadeOut 0.5s forwards;
  animation-delay: 5s;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: black;
  opacity: 0;
}

.letter {
  opacity: 0;
  transform: scale(0);
  animation: zoomFadeIn 0.1s forwards;
}

@keyframes zoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
